.pvt-msg-container {
  padding: 1rem;
  .pvt-msg-header {
    margin-bottom: 1rem;
    padding: 1rem 0.8rem;
    background-color: #deffde;
    h6 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.2rem;
      color: grey;
      font-weight: 500;
    }
  }

  .pvt-msg-area {
    .pvt-msg-body {
      height: 45vh;
      position: relative;
      overflow-y: auto;
      padding: 0.5rem;
      background-color: #f6f6f6;
      display: flex;
      flex-direction: column;
      //   justify-content: flex-end; //this is vertical
      align-items: flex-start; //this is horizontal
      box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
    }
    .msg-box {
      display: block;
      //   background-color: rgb(204, 155, 249);
      padding: 0.8rem;
      margin-bottom: 3px;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-info {
        // background-color: lightgreen;
        padding: 0.3rem;
        // margin-bottom: 5px;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        p.message-author {
          font-size: 1.2rem;
          color: #0707ac;
          margin: 0;
          font-weight: 500;

          span {
            font-style: italic;
            font-size: 1rem;
            color: #4d4d4d;
            font-weight: 400;
            margin-left: 3px;
          }
        }
      }

      &-content {
        background-color: rgba(36, 27, 190, 1);
        background: linear-gradient(
          120deg,
          #241bbe 0%,
          #721ac8 65%,
          #b145e3 100%
        );
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        p {
          font-size: 1.4rem;
          margin: 0;
          padding: 0.5rem 1rem;
          color: #f7f7f7;
        }
      }
      &.messageOwner {
        align-items: flex-end; //own message CONTENT(like time & text msg) moves to the right
        align-self: flex-end; //own message box moves to the right

        .msg-box-info {
          p.message-author {
            color: #04b417;
          }
        }
        .msg-box-content {
          background: rgb(8, 172, 26);
          background: linear-gradient(
            120deg,
            #069315 0%,
            #0cc430 65%,
            #07de25 100%
          );
        }
      }
      // user connected & disconnected message
      &.user-connected-msg,
      &.user-disconnected-msg {
        align-self: center;
        .msg-box-content {
          background: #dcdbdb;
          p {
            color: #212020;
          }
        }
      }
    }

    .pvt-msg-form {
      margin-top: 0.5rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
      #chat-form {
        #msg_input {
          padding: 0.8rem 0.5rem;
          font-size: 1.4rem;
        }
        .btn-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          & > * {
            flex: initial;
          }
          .btn-grp {
            display: flex;
            flex-direction: row;
          }

          .chat-send-btn {
            margin: 0;
          }
        }
      }
    }
  }
}
