<section class="private-chat-container">
  <div class="row">
    <div class="col-md-3">
      <div class="pvt-user">
        <h4>Find Users</h4>
        <form class="my-4 pvt-search-user" action="#">
          <div class="input-group">
            <input
              type="text"
              class="form-control search-user-input"
              placeholder="Search your buddy..."
              aria-label="search user"
              aria-describedby="basic-addon2"
            />
            <span class="input-group-text" id="basic-addon2">@</span>
          </div>
        </form>
        <div class="pvt-users-list">
          <a
            *ngFor="let user of userList"
            [routerLink]="['./', user.id]"
            class="pvt-user-item"
            routerLinkActive="user-selected"
          >
            <!-- user image goes here -->
            <p>
              {{ user.username }} <span class="badge bg-success">Online</span>
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- start of chat component -->
    <div class="col-md-7">
      <router-outlet></router-outlet>
      <!-- <div class="pvt-msg-container">
        <div class="pvt-msg-header">chat header</div>
        <div class="pvt-msg-area">chat body</div>
      </div> -->
    </div>
    <!-- end of chat component -->
    <div class="col-md-2">
      <div class="pvt-msg-status">pvt msg status</div>
    </div>
  </div>
</section>
